.container {
    display: flex;
    height: 300px;
    margin: auto;
    justify-content: center;
}

img {
    height: 100px;
    width: 100px;
    /* height: 10%;
    width: 20%; */
    /* position: relative; */
    padding:1px;
    border:1px solid #021a40;
    margin: auto;
}

.results {
    /* position: relative; */
    /* align-content: center; */
    font-size: 2em;


}

